<a href="https://colab.research.google.com/github/EAsencios/DEEP-LEARING/blob/master/fe_temporal_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import datetime
import numpy as np
import pandas as pd
from dateutil.parser import parse
import pytz

In [2]:
time_stamps = ['2015-03-08 10:30:00.360000+00:00', '2017-07-13 15:45:05.755000-07:00',
               '2012-01-20 22:30:00.254000+05:30', '2016-12-25 00:30:00.000000+10:00']
df = pd.DataFrame(time_stamps, columns=['Time'])
df

                               Time
0  2015-03-08 10:30:00.360000+00:00
1  2017-07-13 15:45:05.755000-07:00
2  2012-01-20 22:30:00.254000+05:30
3  2016-12-25 00:30:00.000000+10:00

In [3]:
ts_objs = np.array([pd.Timestamp(item) for item in np.array(df.Time)])
df['Ts_obj'] = ts_objs
ts_objs

array([Timestamp('2015-03-08 10:30:00.360000+0000', tz='UTC'),
       Timestamp('2017-07-13 15:45:05.755000-0700', tz='pytz.FixedOffset(-420)'),
       Timestamp('2012-01-20 22:30:00.254000+0530', tz='pytz.FixedOffset(330)'),
       Timestamp('2016-12-25 00:30:00+1000', tz='pytz.FixedOffset(600)')],
      dtype=object)

In [11]:
df['Year'] = df['Ts_obj'].apply(lambda d: d.year)
df['Month'] = df['Ts_obj'].apply(lambda d: d.month)
df['Day'] = df['Ts_obj'].apply(lambda d: d.day)
df['DayOfWeek'] = df['Ts_obj'].apply(lambda d: d.dayofweek)
df['DayName'] = df['Ts_obj'].apply(lambda d: d.day_name)
df['DayOfYear'] = df['Ts_obj'].apply(lambda d: d.dayofyear)
df['WeekOfYear'] = df['Ts_obj'].apply(lambda d: d.weekofyear)
df['Quarter'] = df['Ts_obj'].apply(lambda d: d.quarter)

df[['Time', 'Year', 'Month', 'Day', 'Quarter', 'DayOfWeek', 'DayName', 'DayOfYear', 'WeekOfYear']]

                               Time  Year  ...  DayOfYear  WeekOfYear
0  2015-03-08 10:30:00.360000+00:00  2015  ...         67          10
1  2017-07-13 15:45:05.755000-07:00  2017  ...        194          28
2  2012-01-20 22:30:00.254000+05:30  2012  ...         20           3
3  2016-12-25 00:30:00.000000+10:00  2016  ...        360          51

[4 rows x 9 columns]